body {
  background-image: linear-gradient(120deg, #7e9ee4 0%, #f7e333 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.container {
  width: 55%;
  margin-top: 10%;
}

.postn {
  width: 50%;
  padding-right: 10%;
  padding-left: 10%;
}

.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
